:root {
  --black: #000000;
  --blue: #2196f3;
  --blac-section: #2f303a;
  --grey-heading: #757575;
  --black-text: #212121;
  --white: #ffffff;
  --grey-light: #f5f4fa;
  --grey-dark: #e5e5e5;
}

.logo {
  color: var(--blue);
  font-family: raleway;
  font-weight: 700;
  size: 26px;
  line-height: 30.52px;
  letter-spacing: 0.03em;
}
.logo2 {
  color: var(--black);
  font-family: raleway;
  font-weight: 700;
  size: 26px;
  line-height: 30.52px;
  letter-spacing: 0.03em;
}

.link {
  font-family: roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  cursor: pointer;
}

.link-contact {
  color: var(--grey-heading);
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.link-contact-end {
  color: var(--grey-heading);
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.navi-color :hover,
.navi-color :focus {
  color: var(--blue);
}

.order {
  font-family: roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--black-text);

  cursor: pointer;
}

.navigation {
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  border-width: 0px;
  cursor: pointer;
  background-color: var(--blac-section);
  color: var(--white);
}

.navigatio-portfolio {
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  border-width: 0px;
  text-align: center;
}

.navigatio-portfolio button {
  width: 91px;
  height: 38px;
  top: 174px;
  left: 862px;
  border-radius: 4px;
}

.navigation-portfolio button:hover,
.navigation-portfolio button:focus {
  color: #fff;
  background-color: var(--blue);
  cursor: pointer;
}

.order button {
  width: 200px;
  height: 50px;
  top: 430px;
  left: 700px;
  border-radius: 4px;
  border-width: 0px;
}

.navigation button:hover,
.navigation button:focus {
  color: #fff;
  background-color: var(--blue);
  cursor: pointer;
}

.writing {
  font-family: roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
}
.header {
  font-family: roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.03em;
}
.text {
  color: #757575;
  font-family: roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.foto2 h2 {
  font-family: roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;
  letter-spacing: 0.03;
}

.foto2 {
  background-color: var(--grey-light);
}

.foto article {
  background-color: var(--grey-dark);
}

.titleimg {
  font-family: Roboto;
  color: var(--black-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.catalog {
  font-family: roboto;
  color: var(--grey-heading);
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.listItem {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.data {
  color: var(--white);
  font-family: roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.tiles {
  list-style: none;
  background-color: var(--grey-light);
}

.foter {
  background-color: var(--blac-section);
}

/*zadanie 3*/
